<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Edit Doctor</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('_navbar') %>

    <div class="container">
      <div style="text-align: center">
        <h2>Edit Doctor</h2>
      </div>

      <form action="/doctor/<%= data.id %>/edit" method="post">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            value="<%= data.name %>"
          />
        </div>
         <% if (path) { %> <% const index=path.split(",").findIndex((el)=> el ===
        'name') %>
        <p style="color: red"><%= error.split(",")[index] %></p>
        <% } %>

        <div class="mb-3">
          <label class="form-label">Specialist</label>
          <select
            class="form-select"
            aria-label="Default select example"
            name="specialist"
          >
            <% ['Dokter Umum', 'Dokter Gigi', 'Dokter Anak'].map(perSp =>{%>
            <option value="<%= perSp %>"  <%= perSp === data.specialist ? "selected" : "" %> ><%= perSp %></option>
            <%}) %>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Cost</label>
          <input
            type="number"
            class="form-control"
            name="cost"
            value="<%= data.cost %>"
          />
        </div>
         <% if (path) { %> <% const index=path.split(",").findIndex((el)=> el ===
        'cost') %>
        <p style="color: red"><%= error.split(",")[index] %></p>
        <% } %>

        <button type="submit" class="btn btn-primary">Edit</button>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
